# C-b is not acceptable -- Vim uses it
set-option -g prefix C-]
bind-key C-] last-window

#split window into panes
bind-key % split-window -h
bind-key '"' split-window -v

#reload tmux/config-file
bind r source-file ~/.tmux.conf

# Start numbering at 1
#set -g base-index 1

# Allows for faster key repetition
set -s escape-time 0

# Set status bar
## All
set -g status-bg black
set -g status-fg green
#set -g status-left ""

##left
set -g status-left-bg black
set -g status-left-fg red

##right
#set -g status-right "#[fg=green]#H"
set -g status-right-bg black
set -g status-right-fg green
set -g status-right '%a %b %d, %Y %H:%M | #H'

#Mouse cntrl
## Toggle mouse on with ^B m
bind m 
  set -g mode-mouse on 
  set -g mouse-resize-pane on 
  set -g mouse-select-pane on 
  set -g mouse-select-window on 
  display 'Mouse: ON'

## Toggle mouse off with ^B M
bind M 
  set -g mode-mouse off
  set -g mouse-resize-pane off
  set -g mouse-select-pane off
  set -g mouse-select-window off
  display 'Mouse: OFF'

# Rather than constraining window size to the maximum size of any client 
# connected to the *session*, constrain window size to the maximum size of any 
# client connected to *that window*. Much more reasonable.
setw -g aggressive-resize on

#use vim motion keys when in copy mode
setw -g mode-keys vi

#use vim v, and y for visual, and yank in vi mode
bind-key -t vi-copy 'v' begin-selection
bind-key -t vi-copy 'y' copy-selection
# stop C-] l from mimicking C-]]
unbind l

#unbind p 
bind -r C-p paste-buffer
bind-key p previous-window


#bindings to make resizing easier
bind -r C-h resize-pane -L
bind -r C-j resize-pane -D
bind -r C-k resize-pane -U
bind -r C-l resize-pane -R

# Allows us to use C-a a <command> to send commands to a TMUX session inside 
# another TMUX session
# unbind
bind-key a send-prefix

# Activity monitoring
set -g monitor-activity on
set -g visual-activity on

# Example of using a shell command in the status line
#set -g status-right "#[fg=yellow]#(uptime | cut -d ',' -f 2-)"

# Highlight active window
set-window-option -g window-status-current-bg white

set default-path $(pwd) \; split-window\; set default-path ~/
